
<header>
  <nav>
    <ul>
      <li><a href="#inicio">Início</a></li>
      <li><a href="#colecoes">Coleções</a></li>
      <li><a href="#destaques">Destaques</a></li>
      <li><a href="#kits">Kits</a></li>
      <li><a href="#faq">FAQ</a></li>
      <li><a href="#confianca">Confiança</a></li>
    </ul>
  </nav>
</header>
    